<footer class="footer">
  <div class="container">
    <p class="text-muted">Copyright © 2016  <%= link_to 'Delfy', 'http://asturist.com/wp-content/uploads/2015/10/z11916568Q.jpg', target: '_blank' %>
    </p>
  </div>
</footer>